# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env
.env.production
.env.test
.env.development

# Output of 'npm pack'
*.tgz

# Dependency directories
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

build
.nuxt
dist
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
