#
# NOTE: This file is required in order to download private NPM packages when running in CI/CD or in a deployed
#       server environment.
#

# Remove or comment this file from your project when you are done with it.
strict-peer-dependencies=false

# Example of a private NPM registry
@company:registry=https://npm.company.com/
//npm.company.com/:_authToken=$VITE_PRIVATE_TOKEN_NPM
