@use '../settings/colors';

:root {
  --background-primary: #{colors.$color-white};
  --primary: #{colors.$color-blue-dark};
  --text-secondary: #{colors.$color-raisin-black};
  --primary-accent: #{colors.$color-primary-accent};
  --active-link: #{colors.$color-active-link};
  --active-link-text: #{colors.$color-white};

  // basic
  --text-white: #{colors.$color-black};
  --primary-accent-invert: #{colors.$color-grey-lighten};

  // basic
  --text-white: #{colors.$color-black};

  // Buttons
  --btn-primary: #{colors.$color-raisin-black};
  --btn-primary-bg: #{colors.$color-blue-dark};
  --btn-primary-hover: #{colors.$color-primary-accent};

  // Cards
  // --surface-card:

  // Links

  // Icons
  --oio-icon-filter-color: brightness(0);
}

:root.dark-theme {
  --background-primary: #{colors.$color-raisin-black};
  --primary: #{colors.$color-blue-dark};
  --text-secondary: #{colors.$color-white};
  --primary-accent: #{colors.$color-primary-accent};
  --active-link: #{colors.$color-active-link};
  --active-link-text: #{colors.$color-white};

  // basic
  --text-white: #{colors.$color-white};
  --primary-accent-invert: #{colors.$color-primary-accent};

  // basic
  --text-white: #{colors.$color-white};

  // Buttons
  --btn-primary: #{colors.$color-raisin-black};
  --btn-primary-bg: #{colors.$color-blue-dark};
  --btn-primary-hover: #{colors.$color-primary-accent};

  // Cards
  // --surface-card:

  // Links

  // Icons
  --oio-icon-filter-color: brightness(0) invert(1);
}
