$color-blue-dark: #254567;
$color-raisin-black: #242424;
$color-white: #ffffff;
$color-white-de: #ffffffde;
$color-black: #131313;
$color-primary-accent: #1419e0d1;
$color-active-link: #4880ff;
$color-grey-lighten: #e8e9ffd1;
